@keyframes draw { to { stroke-dashoffset: 0; } }
@keyframes flashlight { 50% { opacity: 0; } }
@keyframes drawIntroStripeBackward { from { stroke-dashoffset: 0; } to { stroke-dashoffset: 2827.009033203125; } }
@keyframes drawIntroStripeForward { from { stroke-dashoffset: 5654.0180664062; } to { stroke-dashoffset: 2827.009033203125; } }
@keyframes language-shape-frames {
  50% { opacity: 0.7; transform: translate(-20rem, -20rem) rotate(0.5turn) scale(0.8);}
  100% { transform: translate(0rem, 0rem) rotate(1turn); }
}
@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 25%) }
  90% { transform:translate(-10%, 10%) }
}

@keyframes flash { 50% { opacity: 0.3; } }
