---

  const { lang } = Astro.props

  const back = {
    ru: 'Назад',
    en: 'Back',
    by: 'Назад',
  }

---

<div class="back">
  <div class="back__inner">
    <img class="back__logo" src="/assets/images/logos/100.svg" alt="100 лет">
    <button class="back__button">{back[lang]}</button>
  </div>
</div>

<style lang="scss">

  .back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding-top: 20rem;
  }


  .back__inner {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }


  .back__logo {
    width: 80vmax;
    height: auto;
    margin-bottom: 20rem;

    @media (max-width: 1024px) and(orientation: portrait) {
      width: 80vmin;
      margin-bottom: 10rem;
    }
  }


  .back__button {
    font-size: 4.8rem;
    color: var(--color-3);
  }

  :global(.category-out) .back {

    opacity: 0;
    transition: opacity 0.5s;

  }

</style>