<header class="header">

  <div class="header__top">

    <a data-nav-link data-prefetch class="header__logo-link" href="/[lang]">
      <img
        data-en="/assets/images/logos/bb_en.svg"
        data-ru="/assets/images/logos/bb_ru.svg"
        data-by="/assets/images/logos/bb_ru.svg"
        class="header__logo"
        src="#"
        alt="logo"
      >
    </a>

    <nav class="header__navigation">
      <a
        data-en="Technologies"
        data-ru="Технологии"
        data-by="Технологии"
        data-nav-link
        data-prefetch
        class="header__navigation__link header__navigation__link_technologies"
        href="/[lang]/technologies"
      >Технологии</a>
      <a
        data-en="Money"
        data-ru="Деньги"
        data-by="Деньги"
        data-nav-link
        data-prefetch
        class="header__navigation__link header__navigation__link_money"
        href="/[lang]/money"
      >Деньги</a>
      <a
        data-en="Achievements"
        data-ru="Достижения"
        data-by="Достижения"
        data-nav-link
        data-prefetch
        class="header__navigation__link header__navigation__link_achievements"
        href="/[lang]/achievements"
      >Достижения</a>
    </nav>

    <a class="header__quiz-link " data-nav-link data-prefetch href="/[lang]/quiz">
      <span
        data-en="Quiz"
        data-ru="Пройти квиз"
        data-by="Пройти квиз"
        class="header__quiz-link__name"
      >Пройти квиз</span>
      <svg class="header__quiz-link__ellipse"><use xlink:href="#sprite-ellipse"></use></svg>
    </a>

  </div>

  <a
    data-en="Development: YAR studio"
    data-ru="Разработка: студия ЯР"
    data-by="Разработка: студия ЯР"
    class="header__dev-link"
    href="https://yar-studio.com/"
    target="_blank"
  >Разработка: студия ЯР</a>

</header>
