---
  import Canvas from 'elements:Canvas.astro'
  import Curtain from 'elements:Curtain.astro'
  import Background from 'elements:Background.astro'
  import Sprite from 'elements:Sprite.astro'
  import Grain from 'elements:Grain.astro'
---

<div class="presentation" role="presentation">
  <Sprite/>
  <Background/>
  <Canvas/>
  <Grain/>
  <Curtain/>
</div>