<div class="screen-alert">

  <p class="screen-alert__description">
    Поверните телефон горизонтально , чтобы начать
  </p>

  <svg class="screen-alert__icon"><use class="screen-alert__icon__use" xlink:href="#sprite-phone"></use></svg>

</div>