<div class="background">

  <div class="background__abstract-shape-circle">
    <img class="background__abstract-shape-image" src="/assets/images/backgrounds/circle.png" alt="абстрактная фигура">
  </div>
  <div class="background__abstract-shape-triangle">
    <img class="background__abstract-shape-image" src="/assets/images/backgrounds/triangle.png" alt="абстрактная фигура">
  </div>

</div>