@use "sass:map";
@use "sass:string";

@use './utils/extend/visibility';
@use './utils/extend/size';
@use './utils/extend/position';
@use './project/colors' as *;
@use './project/fonts' as *;
@use './project/breakpoints' as *;
@use './utils/responsive' as *;

@font-face {

  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=hESp6XxvMDRA-2eD0lXpDa6QkBAGQFPkSThyYziFKQLUJt_Acu6tXRPRvrImwlXM7Ahprsd0w8IrMRspTBG0lQSiCXVPXgxDm6uXdwBCLBpDOWheTrtVlPG0LM1wGuyLURTecI5Wgvy4eFsCSCxUvMEdRf_DpfXB7whSFp6CmAN7mKPLUfJ4GbJKoiiWq-lSZItffWbXuAc4ABGyKkMCtQPUYgbSc3RKcn7nfA_TON0SIdg8YQwz-f6FGL3t9EXXNZNly2_AJ7Ty_pnWZSqWW-POtbU4Z6YIrCcK_k9XEyC8O2K0omSJewlUl3-H2cnM7U7asJf5lukEEybfHZOgKb5D&skey=ca3882216dbc2d90&v=v9) format('woff2');

}

@each $key, $value in $fonts {

  @font-face {

    font-family: $value;
    font-weight: normal;
    src: url("/assets/fonts/#{$value}.ttf");
    font-display: swap;

  }

}

html {

  @each $key, $value in $colors {

    --color-#{$key}: #{$value};

  }

  @each $key, $value in $fonts {

    --font-#{$key}: #{$value};

  }

  --font-primary: 'Dela Gothic One';

}

*,
*::before,
*::after {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html, body, #root {

  width: 100%;
  height: var(--height, 100%);

}


html, body, #root {

  overflow: hidden;

}


html {

  font-size: calc(var(--height, 100vh) / 960 * 10);

  @media (max-aspect-ratio: 14/9) {
    font-size: calc(var(--width, 100vw) / 1920 * 13);
  }


  @media (max-aspect-ratio: 13/9) {
    font-size: calc(var(--width, 100vw) / 1920 * 12);
  }


  @media (max-width: 1024px) and (orientation: landscape)  {
    font-size: calc(var(--height, 100vh) / 1024 * 9);
  }


  @media (max-width: 1024px) and (orientation: portrait)  {
    font-size: calc(var(--width, 100vw) / 1024 * 9);
  }

}

body {

  font-family: var(--font-primary);
  font-size: 1.6rem;
  image-rendering: -webkit-optimize-contrast;
  background-color: var(--color-1);

  .grabbing & {
    cursor: grabbing !important;
  }

}


button, a, input {

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  border: none;
  background: none;
  color: inherit;
  outline: none;

}


a {

  text-decoration: none;

}


a, button {

  cursor: pointer;

}


img, video {

  display: block;
  object-fit: contain;

}


ul {

  list-style: none;

}


svg {

  display: block;

}


button,
textarea,
input,
select,
a {

 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}


.content {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--height, 100%);

}
