@use "sass:math";

@mixin delaynth($type: transition, $n: 20, $del: 10, $s: 0, $dir: 1) {

  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      @if($type == transition) {
        transition-delay: #{$s + math.div(($i * $dir), $del)}s;
      }
      @else if ($type == animation) {
        animation-delay: #{$s + math.div(($i * $dir), $del)}s;
      }
    }
  }
}

@mixin delayn($type: transition, $n: 20, $del: 10, $s: 0, $dir: 1) {
  @for $i from 1 through $n {
    &_#{$i} {
      @if($type == transition) {
        transition-delay: #{$s + math.div(($i * $dir), $del)}s;
      }
      @else if ($type == animation) {
        animation-delay: #{$s + math.div(($i * $dir), $del)}s;
      }
    }
  }
}
