@use '../../utils/extend/position';
@use '../../utils/extend/flex';
@use '../../utils/extend/size';
@use '../../utils/zindex' as *;
@use '../../utils/easings' as *;

.background {

  @extend %position-absolute-cover;
  @extend %flex-center-xy-col;
  position: relative;
  overflow: hidden;
  z-index: z('background');

  background-color: var(--color-1);
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: scale(3);
  pointer-events: none;

}


.language-in .background,
.categories-in .background,
.quiz-in .background,
.category-in .background {
  transition: opacity 2s, transform 2s $easeInOutExpo;
  transform: scale(1);
  opacity: 1;
}


.background__abstract-shape-circle {
  position: absolute;
  width: 40vmax;
  height: 40vmax;
  pointer-events: none;
  transform: translate(-5vmax, 10vmax);

  @media (max-aspect-ratio: 14/9) {
    width: 60vmax;
    height: 60vmax;
  }
}


.background__abstract-shape-triangle {
  position: absolute;
  width: 50vmax;
  height: 50vmax;
  pointer-events: none;
  transform: translate(15vmax, 5vmax);

  @media (max-aspect-ratio: 14/9) {
    width: 70vmax;
    height: 70vmax;
  }

}


.background__abstract-shape-image {
  @extend %size-cover;
}


.background__abstract-shape-circle .background__abstract-shape-image {
  animation: 30s 2s language-shape-frames linear infinite;
}

.background__abstract-shape-triangle .background__abstract-shape-image {
  animation: 30s language-shape-frames linear infinite;
}