@use '../../utils/extend/flex';
@use '../../utils/zindex' as *;
@use '../../utils/easings' as *;

.category {

  position: fixed;
  z-index: z('category');

  width: max-content;
  height: var(--height, 100%);
  padding-left: 25vw;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  overflow: hidden !important;

  cursor: grab;

  .grabbing & {
    cursor: grabbing;
  }


  @media (max-width: 1024px) and (orientation: portrait) {

  }

}


.category-scroll-signal {

  position: absolute;
  bottom: 0;
  left: 80vw;

  z-index: z('category');

  width: 16rem;
  height: 9.6rem;

  transition: opacity 0.5s;
  pointer-events: none;
  opacity: 0;

}


.category-in .category-scroll-signal {
  opacity: 1;
}


.start-scrolling .category-scroll-signal {
  opacity: 0;
}