@use '../../utils/extend/position';
@use '../../utils/zindex' as *;

.grain {

  @extend %position-fixed-cover;
  z-index: z('grain');
  pointer-events: none;
  overflow: hidden;
}


.grain::after {

  content: "";

  position: fixed;
  left: -50%;
  top: -100%;

  width: 300%;
  height: 300%;

  pointer-events: none;

  background-image: url('/assets/images/grain/2.png');
  opacity: 0.3;

  animation: grain 5s steps(10) infinite;
  will-change: transform;
}