.moment {
  flex-shrink: 0;
  position: relative;
  display: flex;
  margin-right: 20rem;
  padding-bottom: 17vmin;

  @media (max-width: 1024px) and (orientation: portrait) {
    flex-direction: column;
    margin-right: 40rem;
  }


  @media (max-height: 450px) {
    padding-bottom: 22vmin;
  }

}


.moment__images {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;

  @media (max-width: 1024px) and (orientation: portrait) {
    margin-bottom: 10rem;
    justify-content: center;
  }

}


.moment__image {
  flex-shrink: 0;
  opacity: 0;

  @media (max-width: 1024px) and (orientation: portrait) {
    max-width: 80vw;
    margin-bottom: unset !important;
  }
}