@use '../../utils/zindex' as *;
@use '../../utils/extend/flex';

.navigator {
  position: fixed;
  bottom: 15rem;
  left: 6rem;

  z-index: z('scrollbar');

  height: 57.7rem;

  overflow: hidden !important;

  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;

  @media (max-width: 1024px) {
    left: 0rem;
  }

  @media (max-height: 450px) {
    height: 70rem;
    bottom: 20rem;
    left: 3rem;
  }

}


.navigator.opened {
  pointer-events: auto;
  opacity: 1;
}


.navigator__years {
  position: relative;

  display: flex;
  flex-direction: column;
  height: max-content;

  padding: 3rem;

}


.navigator__years::before {

  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 75%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
  transform: translateX(-50%);

}


.navigator__year {
  font-size: 3.6rem;
  font-family: var(--font-second-black);

  margin-bottom: 3rem;

  color: var(--color-2);
  transition: color 0.3s;

  @media (max-height: 450px) {
    font-size: 4.5rem;
  }
}


.navigator__year:hover {
  color: var(--color-3);
}


.navigator__scrollbar {
  position: absolute;
  right: 0.8rem;
  top: 0;

  display: flex;
  justify-content: center;

  width: 0.4rem;
  height: 100%;

  background-color: var(--color-2);
}


.navigator__scrollbar__knob {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-4);
  cursor: grab;
}


.navigator-button {
  @extend %flex-center-xy;

  z-index: z('scrollbar');

  position: fixed;
  bottom: 2.3rem;
  left: 10rem;
  width: 7rem;
  height: 7rem;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s, transform 0.3s;

  @media (max-width: 1024px) {
    width: 8rem;
    height: 8rem;
    left: 5vmin;
  }

  @media (max-width: 500px) {
    width: 10rem;
    height: 10rem;
  }

  @media (max-height: 450px) {
    width: 14rem;
    height: 14rem;
  }

}


.category-in .navigator-button {
  opacity: 1;
  transition: opacity 0.5s, transform 0.3s;
}


.navigator-button.opened {
  transform: rotate(180deg);

  .navigator-button__icon {
    animation: unset;
  }
}


.navigator-button__icon {
  width: 4rem;
  height: 4rem;
  animation: flash 3s infinite;

  @media (max-height: 450px) {
    width: 7rem;
    height: 7rem;
  }

}